@import "../../../app.scss";

.container {
  height: 200vh;
  position: relative;

  .planetContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 2;

    .planets {
      height: 100%;
      width: 100%;
      overflow: hidden;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      background-image: url("/planets.png");

      @include tablet {
        position: relative;
        top: -300px;
      }
    }
  }

  .wrapper {
    height: 100%;
    width: 100%;
    position: relative;

    .windowSection {
      height: 100vh;
      position: sticky;
      top: 0;
      z-index: 10;
      overflow: hidden;

      .window {
        height: 100%;
        width: 100%;
        background-image: url("/window.png");
        background-size: cover;
        background-position: center;
        z-index: 5;
      }
    }

    .mountainSection {
      height: 100vh;
      position: relative;
      overflow: hidden;
      z-index: 3;

      .mountains {
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: bottom;

        @include tablet {
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .mountainsContainer {
        height: 100ch;
        border: 5px solid white;
      }

      .mountains {
        background-image: url("/mountains.png");
        z-index: 3;
      }
    }
  }
}
