@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;
  z-index: 10;

  .socialContainer {
    position: absolute;
    height: calc(100vh - 100px);
    display: flex;
    align-items: flex-end;

    .socialWrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
    }

    hr {
      height: 150px;
      width: 3px;
      border: none;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5),
        rgba(255, 255, 255, 0.5)
      );
    }

    hr:nth-child(1) {
      height: 150px;
      width: 3px;
      border: none;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(255, 255, 255, 0.5)
      );
    }

    .social {
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 5;

      @include mobile {
        gap: 5px;
      }

      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;

        @include mobile {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -100px;
    white-space: nowrap;
    color: #ffffff09;
    width: 100%;
    font-weight: bold;
    z-index: 1;

    @include mobile {
      font-size: 20vh;
      bottom: -20px;
    }
  }

  .mainContainer {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .containerWrapper {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        flex-direction: column;
      }

      @include mobile {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .textContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
        z-index: 60;

        @include tablet {
          gap: 25px;
          align-items: center;
        }

        @include mobile {
          gap: 20px;
          align-items: center;
        }

        h2 {
          font-size: 30px;
          color: rebeccapurple;
          letter-spacing: 10px;

          @include mobile {
            font-size: 26px;
          }
        }

        .buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
          color: white;

          @include mobile {
            gap: 10px;
            flex-direction: column;
          }
        }

        img {
          width: 50px;
        }
      }
    }
  }
}
