@import "../../../../app.scss";

section {
  height: 100vh;
  position: relative;
  overflow: hidden;

  .heading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    text-align: center;
    color: white;
    z-index: 2;

    @include mobile {
      font-size: 24px;
    }

    span {
      font-weight: 200;
    }
  }

  .mountains,
  .planets {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: bottom;

    @include tablet {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .mountains {
    background-image: url("/mountains.png");
    z-index: 3;
  }
  .planets {
    background-image: url("/planets.png");
    z-index: 1;

    @include tablet {
      top: -200px;
    }
  }
}
