@import "../../app.scss";

.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 300vh;
  width: 100%;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;

  @include tablet {
    height: 160vh;
  }

  .itemWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include mobile {
      gap: 30px;
    }

    .itemContainer {
      display: flex;
      gap: 50px;
      justify-content: center;
      align-items: center;

      @include mobile {
        gap: 30px;
      }

      .item {
        position: relative;
        height: 250px;
        min-width: 350px;
        transform: translateZ(0);

        @include tablet {
          height: 150px;
          min-width: 250px;
        }

        @include mobile {
          height: 125px;
          min-width: 175px;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        h2 {
          width: 100%;
          text-align: center;
          font-size: 2vw;
          position: absolute;
          bottom: 0;
          opacity: 0;
          color: white;
          transition: opacity 0.3s ease;
        }
        &:hover h2 {
          opacity: 1;
        }
        &:hover img {
          opacity: 0.2;
        }
      }
    }
  }
}
