@import "../../app.scss";

.contactWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .contact {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    @include tablet {
      padding: 20px;
    }

    @include mobile {
      padding: 20px;
      flex-direction: column;
      gap: 25px;
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include mobile {
        gap: 20px;
      }

      h1 {
        font-size: 100px;
        line-height: 88px;

        @include mobile {
          font-size: 48px;
          line-height: 56px;
        }
      }

      h2 {
        @include mobile {
          font-size: 16px;
        }
      }

      span {
        font-weight: 300;
      }
    }
    .formContainer {
      flex: 1;
      position: relative;

      @include mobile {
        width: 100%;
      }

      .phoneSvg {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
      }
      svg {
        height: 100%;
        width: 100%;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input,
        textarea {
          padding: 20px;
          background-color: transparent;
          border: 1px solid white;
          color: white;
          border-radius: 5px;

          @include mobile {
            padding: 10px;
          }
        }

        textarea {
          @include mobile {
            height: 130px;
          }
        }

        button {
          padding: 20px;
          border: none;
          background-color: orange;
          cursor: pointer;
          font-weight: 500px;

          @include mobile {
            padding: 10px;
          }
        }
        .message {
          color: #4bb543;
          font-weight: 500;
          text-align: center;

          @include mobile {
            font-weight: 300;
          }
        }
      }
    }
  }

  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: absolute;
    bottom: 5%;
    right: 5%;
    transform-origin: center;

    &:hover {
      width: 140px;
      border-radius: 50px;
      align-items: center;
      right: calc(5% - 45px);

      .svgIcon {
        transform: translate(-50%, -200%);
      }

      &::before {
        font-size: 13px;
        opacity: 1;
        bottom: unset;
        transition-duration: 0.3s;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .svgIcon {
      width: 12px;
      transition-duration: 0.3s;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      path {
        fill: black;
      }
    }

    &::before {
      position: absolute;
      bottom: -20px;
      content: "Back to Top";
      font-size: 0px;
      white-space: nowrap;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s;
    }

    @include mobile {
      display: none;
    }
  }
}
