@import "../../app.scss";

.navbar {
  height: 100px;
  z-index: 1;

  .wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include large {
      justify-content: flex-end;
      padding: 20px;
    }
  }

  span {
    font-weight: bold;

    @include large {
      display: none;
    }
  }
  button {
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-weight: 300;
    cursor: pointer;
    z-index: 100;
  }
}
